@use "./partials/variables" as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

/* EDIT APARTMENTS */
.editForm {
    input[type="checkbox"] {
        cursor: pointer;
    }
}

/* /EDIT APARTMENTS */

.Boologo{
    width: 75px;
    height: 60px;
    object-fit: cover;
}
/* ADDRESS SEARCH */
.userAddressHints {
    list-style: none;
    position: absolute;
    background-color: white;
    top: 100%;
    li {
        color: grey;
        border: 1px solid var(--bs-border-color);
        border-radius: 5px;
        cursor: pointer;
        padding: 4px 8px;
        &:hover{
            background-color: rgb(197, 197, 197);
            color: black;
        }
    }
}

/* /ADDRESS SEARCH */
